name: build-packages
on: [push, pull_request]
env:
  ANACONDA_TOKEN: ${{ secrets.ANACONDA_TOKEN }}
  ANACONDA_USER: ${{ secrets.ANACONDA_USER }}
  NUM_OF_JOBS: 20
defaults:
  run:
    shell: bash
jobs:

  #1
  libusb-linux:
    runs-on: "ubuntu-16.04"
    env:
      PACKAGE: "lib/usb"
      OS_NAME: "linux"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #2
  libxml2-linux:
    runs-on: "ubuntu-16.04"
    env:
      PACKAGE: "lib/xml2"
      OS_NAME: "linux"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #3
  icefunprog-linux:
    runs-on: "ubuntu-16.04"
    env:
      PACKAGE: "tools/icefunprog"
      OS_NAME: "linux"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #4
  flterm-linux:
    runs-on: "ubuntu-16.04"
    env:
      PACKAGE: "tools/flterm"
      OS_NAME: "linux"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #5
  libftdi-linux:
    runs-on: "ubuntu-16.04"
    needs: "libusb-linux"
    env:
      PACKAGE: "lib/ftdi"
      OS_NAME: "linux"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #6
  fxload-linux:
    runs-on: "ubuntu-16.04"
    needs: "libusb-linux"
    env:
      PACKAGE: "tools/fxload"
      OS_NAME: "linux"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #7
  dfu-util-linux:
    runs-on: "ubuntu-16.04"
    needs: "libusb-linux"
    env:
      PACKAGE: "tools/dfu-util"
      OS_NAME: "linux"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #8
  iceprog-linux:
    runs-on: "ubuntu-16.04"
    needs: ["libusb-linux", "libftdi-linux"]
    env:
      PACKAGE: "tools/iceprog"
      OS_NAME: "linux"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #9
  openocd-linux:
    runs-on: "ubuntu-16.04"
    needs: ["libusb-linux", "libftdi-linux"]
    env:
      PACKAGE: "tools/openocd"
      OS_NAME: "linux"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #10
  libusb-osx:
    runs-on: "macos-latest"
    env:
      PACKAGE: "lib/usb"
      OS_NAME: "osx"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #11
  libxml2-osx:
    runs-on: "macos-latest"
    env:
      PACKAGE: "lib/xml2"
      OS_NAME: "osx"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #12
  icefunprog-osx:
    runs-on: "macos-latest"
    env:
      PACKAGE: "tools/icefunprog"
      OS_NAME: "osx"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #13
  flterm-osx:
    runs-on: "macos-latest"
    env:
      PACKAGE: "tools/flterm"
      OS_NAME: "osx"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #14
  libftdi-osx:
    runs-on: "macos-latest"
    needs: "libusb-osx"
    env:
      PACKAGE: "lib/ftdi"
      OS_NAME: "osx"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #15
  dfu-util-osx:
    runs-on: "macos-latest"
    needs: "libusb-osx"
    env:
      PACKAGE: "tools/dfu-util"
      OS_NAME: "osx"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - run: brew install coreutils autoconf automake libtool
      - uses: litex-hub/litex-conda-ci@master

  #16
  iceprog-osx:
    runs-on: "macos-latest"
    needs: ["libusb-osx", "libftdi-osx"]
    env:
      PACKAGE: "tools/iceprog"
      OS_NAME: "osx"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #17
  openocd-osx:
    runs-on: "macos-latest"
    needs: ["libusb-osx", "libftdi-osx"]
    env:
      PACKAGE: "tools/openocd"
      OS_NAME: "osx"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #18
  libusb-windows:
    runs-on: "windows-latest"
    env:
      PACKAGE: "lib/usb"
      OS_NAME: "windows"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #19
  libftdi-windows:
    runs-on: "windows-latest"
    needs: "libusb-windows"
    env:
      PACKAGE: "lib/ftdi"
      OS_NAME: "windows"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  #20
  iceprog-windows:
    runs-on: "windows-latest"
    needs: ["libusb-windows", "libftdi-windows"]
    env:
      PACKAGE: "tools/iceprog"
      OS_NAME: "windows"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: litex-hub/litex-conda-ci@master

  master-package:
    runs-on: "ubuntu-16.04"
    env:
      OS_NAME: "linux"
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: actions/setup-python@v1
      - uses: BSFishy/pip-action@v1
        with:
          packages: urllib3
      - run: |
          bash .github/scripts/install.sh
          python .github/scripts/wait-for-statuses.py
